--
-- PostgreSQL database dump
--

\restrict UIKW0xtax1kL0dlAFvDyw0eTXh8f1aPVJ9zO2DzTPdvA3Ow5dTWfa407iOu8fKF

-- Dumped from database version 17.9
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: shop_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO shop_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO shop_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO shop_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO shop_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO shop_user;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO shop_user;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO shop_user;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO shop_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO shop_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO shop_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO shop_user;

--
-- Name: shop_genre; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.shop_genre (
    id bigint NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.shop_genre OWNER TO shop_user;

--
-- Name: shop_category_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.shop_genre ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_favorite; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.shop_favorite (
    id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.shop_favorite OWNER TO shop_user;

--
-- Name: shop_favorite_games; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.shop_favorite_games (
    id bigint NOT NULL,
    favorite_id bigint NOT NULL,
    game_id bigint NOT NULL
);


ALTER TABLE public.shop_favorite_games OWNER TO shop_user;

--
-- Name: shop_favorite_games_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.shop_favorite_games ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_favorite_games_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_favorite_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.shop_favorite ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_favorite_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_game; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.shop_game (
    id bigint NOT NULL,
    title character varying(100) NOT NULL,
    description text NOT NULL,
    price numeric(10,2) NOT NULL,
    genre_id bigint NOT NULL
);


ALTER TABLE public.shop_game OWNER TO shop_user;

--
-- Name: shop_game_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.shop_game ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_game_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_game_platform; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.shop_game_platform (
    id bigint NOT NULL,
    game_id bigint NOT NULL,
    platform_id bigint NOT NULL
);


ALTER TABLE public.shop_game_platform OWNER TO shop_user;

--
-- Name: shop_game_platform_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.shop_game_platform ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_game_platform_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_platform; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.shop_platform (
    id bigint NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.shop_platform OWNER TO shop_user;

--
-- Name: shop_platform_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.shop_platform ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_platform_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_profile; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.shop_profile (
    id bigint NOT NULL,
    bio text NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.shop_profile OWNER TO shop_user;

--
-- Name: shop_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.shop_profile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_profile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_review; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.shop_review (
    id bigint NOT NULL,
    text text NOT NULL,
    rating integer NOT NULL,
    game_id bigint NOT NULL
);


ALTER TABLE public.shop_review OWNER TO shop_user;

--
-- Name: shop_review_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

ALTER TABLE public.shop_review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: shop_user
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$1000000$b9czP0Aac7137rcjW6k6Vu$5dXMDnLm7DQ3H6a/L8BEbaTxSNpI91QkDLlbpOwiz3w=	2026-04-29 18:33:20.054669+03	t	anna				t	t	2026-04-29 18:32:51.606753+03
2	pbkdf2_sha256$1000000$GPNCgK140KVWjyinlfcUtf$hXo0NQOKAkkq9ACM6bdvSMFi2qbFQqK9mmHm7H/ymq0=	2026-05-06 10:41:29.648874+03	t	admin				t	t	2026-05-06 10:41:20.871335+03
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: shop_user
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
8	shop	product
9	shop	favorite
10	shop	profile
7	shop	genre
11	shop	platform
12	shop	game
13	shop	review
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: shop_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: shop_user
--



--
-- Data for Name: shop_favorite; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.shop_favorite (id, user_id) FROM stdin;
1	2
\.


--
-- Data for Name: shop_favorite_games; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.shop_favorite_games (id, favorite_id, game_id) FROM stdin;
1	1	2
\.


--
-- Data for Name: shop_game; Type: TABLE DATA; Schema: public; Owner: shop_user
--



--
-- Data for Name: shop_game_platform; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.shop_game_platform (id, game_id, platform_id) FROM stdin;
2	1	3
3	2	4
4	1	2
5	3	1
6	3	3
7	4	1
8	4	2
9	4	3
10	5	2
11	5	3
12	5	4
13	5	5
14	6	1
15	7	1
16	7	2
17	7	3
18	7	4
22	11	2
\.


--
-- Data for Name: shop_genre; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.shop_genre (id, name) FROM stdin;
3	Action RPG
4	Fighting
5	Beat 'em up
6	Survival horror
7	Roguelikes
8	Strategy
9	Sports game
10	Action Adventure
2	RPG
\.


--
-- Data for Name: shop_platform; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.shop_platform (id, name) FROM stdin;
1	PS4
2	PS5
3	Xbox
4	Nintendo Switch
5	Nintendo Switch 2
\.


--
-- Data for Name: shop_profile; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.shop_profile (id, bio, user_id) FROM stdin;
\.


--
-- Data for Name: shop_review; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.shop_review (id, text, rating, game_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 56, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 2, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 31, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 13, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 23, true);


--
-- Name: shop_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.shop_category_id_seq', 10, true);


--
-- Name: shop_favorite_games_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.shop_favorite_games_id_seq', 1, true);


--
-- Name: shop_favorite_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.shop_favorite_id_seq', 1, true);


--
-- Name: shop_game_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.shop_game_id_seq', 11, true);


--
-- Name: shop_game_platform_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.shop_game_platform_id_seq', 22, true);


--
-- Name: shop_platform_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.shop_platform_id_seq', 5, true);


--
-- Name: shop_profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.shop_profile_id_seq', 1, false);


--
-- Name: shop_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.shop_review_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: shop_genre shop_category_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_genre
    ADD CONSTRAINT shop_category_pkey PRIMARY KEY (id);


--
-- Name: shop_favorite_games shop_favorite_games_favorite_id_game_id_bcb698a6_uniq; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_favorite_games
    ADD CONSTRAINT shop_favorite_games_favorite_id_game_id_bcb698a6_uniq UNIQUE (favorite_id, game_id);


--
-- Name: shop_favorite_games shop_favorite_games_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_favorite_games
    ADD CONSTRAINT shop_favorite_games_pkey PRIMARY KEY (id);


--
-- Name: shop_favorite shop_favorite_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_favorite
    ADD CONSTRAINT shop_favorite_pkey PRIMARY KEY (id);


--
-- Name: shop_game shop_game_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_game
    ADD CONSTRAINT shop_game_pkey PRIMARY KEY (id);


--
-- Name: shop_game_platform shop_game_platform_game_id_platform_id_a43b8d4c_uniq; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_game_platform
    ADD CONSTRAINT shop_game_platform_game_id_platform_id_a43b8d4c_uniq UNIQUE (game_id, platform_id);


--
-- Name: shop_game_platform shop_game_platform_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_game_platform
    ADD CONSTRAINT shop_game_platform_pkey PRIMARY KEY (id);


--
-- Name: shop_platform shop_platform_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_platform
    ADD CONSTRAINT shop_platform_pkey PRIMARY KEY (id);


--
-- Name: shop_profile shop_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_profile
    ADD CONSTRAINT shop_profile_pkey PRIMARY KEY (id);


--
-- Name: shop_profile shop_profile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_profile
    ADD CONSTRAINT shop_profile_user_id_key UNIQUE (user_id);


--
-- Name: shop_review shop_review_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_review
    ADD CONSTRAINT shop_review_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: shop_favorite_games_favorite_id_e8631ea4; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX shop_favorite_games_favorite_id_e8631ea4 ON public.shop_favorite_games USING btree (favorite_id);


--
-- Name: shop_favorite_games_game_id_e428bcb8; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX shop_favorite_games_game_id_e428bcb8 ON public.shop_favorite_games USING btree (game_id);


--
-- Name: shop_favorite_user_id_5f37df04; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX shop_favorite_user_id_5f37df04 ON public.shop_favorite USING btree (user_id);


--
-- Name: shop_game_genre_id_0240c525; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX shop_game_genre_id_0240c525 ON public.shop_game USING btree (genre_id);


--
-- Name: shop_game_platform_game_id_c18b2a16; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX shop_game_platform_game_id_c18b2a16 ON public.shop_game_platform USING btree (game_id);


--
-- Name: shop_game_platform_platform_id_d71af17c; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX shop_game_platform_platform_id_d71af17c ON public.shop_game_platform USING btree (platform_id);


--
-- Name: shop_review_game_id_94a4cd10; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX shop_review_game_id_94a4cd10 ON public.shop_review USING btree (game_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_favorite_games shop_favorite_games_favorite_id_e8631ea4_fk_shop_favorite_id; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_favorite_games
    ADD CONSTRAINT shop_favorite_games_favorite_id_e8631ea4_fk_shop_favorite_id FOREIGN KEY (favorite_id) REFERENCES public.shop_favorite(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_favorite_games shop_favorite_games_game_id_e428bcb8_fk_shop_game_id; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_favorite_games
    ADD CONSTRAINT shop_favorite_games_game_id_e428bcb8_fk_shop_game_id FOREIGN KEY (game_id) REFERENCES public.shop_game(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_favorite shop_favorite_user_id_5f37df04_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_favorite
    ADD CONSTRAINT shop_favorite_user_id_5f37df04_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_game shop_game_genre_id_0240c525_fk_shop_genre_id; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_game
    ADD CONSTRAINT shop_game_genre_id_0240c525_fk_shop_genre_id FOREIGN KEY (genre_id) REFERENCES public.shop_genre(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_game_platform shop_game_platform_game_id_c18b2a16_fk_shop_game_id; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_game_platform
    ADD CONSTRAINT shop_game_platform_game_id_c18b2a16_fk_shop_game_id FOREIGN KEY (game_id) REFERENCES public.shop_game(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_game_platform shop_game_platform_platform_id_d71af17c_fk_shop_platform_id; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_game_platform
    ADD CONSTRAINT shop_game_platform_platform_id_d71af17c_fk_shop_platform_id FOREIGN KEY (platform_id) REFERENCES public.shop_platform(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_profile shop_profile_user_id_251f5ef7_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_profile
    ADD CONSTRAINT shop_profile_user_id_251f5ef7_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_review shop_review_game_id_94a4cd10_fk_shop_game_id; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.shop_review
    ADD CONSTRAINT shop_review_game_id_94a4cd10_fk_shop_game_id FOREIGN KEY (game_id) REFERENCES public.shop_game(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict UIKW0xtax1kL0dlAFvDyw0eTXh8f1aPVJ9zO2DzTPdvA3Ow5dTWfa407iOu8fKF

